<h1>Add a new project</h1>
<%= form_with model: [@project], class: "nifty_form" do |f| %>
  <%= f.file_field :image %>
  <%= f.text_area :description, size: "60x12" %>
  <%= f.text_area :category, size: "16x1"%>
  <%= f.submit %>
<% end %>
